<div class="container">
  <div class="logo-container">
    <img routerLink="/" class="logo" src="../../../../assets/logo2.svg" alt="logo grupo 4" />
  </div>
  <div class="menu-container">
    <nav class="menu">
      <a class="menu_link" href="#">MASTERTIPS</a>
      <a class="menu_link" href="#">VODKA</a>
      <a class="menu_link" href="#">WHISKY</a>
      <a class="menu_link" href="#">GIM</a>
      <a class="menu_link" href="#">NÃO-ALCOÓLICOS</a>
      <a class="menu_link" href="#">KITS</a>
    </nav>
  </div>
  <div class="user-container">
   

     <img routerLink="/login" class="icone-menu" src="../../../../assets/user.svg" alt="icone login" />
     

  
    <img class="icone-menu" src="../../../../assets/bag.svg" alt="" />
  </div>
</div>
