<div class="container">
  <img class="logo" src="../../../../assets/logo2.svg" alt="logo grupo 4" />
  <nav class="menu">
    <a class="menu_link" href="#">MasterTips</a>
    <a class="menu_link" href="#">VODKA</a>
    <a class="menu_link" href="#">WHISKY</a>
    <a class="menu_link" href="#">GIM</a>
    <a class="menu_link" href="#">NÃO-ALCOÓLICOS</a>
    <a class="menu_link" href="#">KITS</a>
    <img class="icone-menu" src="../../../../assets/user.svg" alt="" />    
    <img class="icone-menu" src="../../../../assets/bag.svg" alt="" />
  </nav>
</div>
