<div *ngIf="!isLogin && !isSignUp" class="container container-dashboard">
  <div class="logo-container">
    <img
      routerLink="/"
      class="logo logo-dashboard"
      src="../../../../assets/logo2.svg"
      alt="logo grupo 4"
    />
  </div>
  <div *ngIf="!isHome" class="menu-container">
    <nav class="menu">
      <a class="menu_link" href="#">MASTERTIPS</a>
      <a class="menu_link" href="#">VODKA</a>
      <a class="menu_link" href="#">WHISKY</a>
      <a class="menu_link" href="#">GIM</a>
      <a class="menu_link" href="#">NÃO-ALCOÓLICOS</a>
      <a class="menu_link" href="#">KITS</a>
    </nav>
  </div>

  <div *ngIf="!isHome" class="user-container">
    <i class="pi pi-user" routerLink="/login"></i>
    <i class="pi pi-shopping-cart" alt="icone carrinho de compras"></i>
  </div>
  <div *ngIf="isDashboard" class="icons">
    <!-- conteúdo ficará disponível no dashboard -->
    <i
      class="pi pi-user-edit"
      routerLink="/list-users"
      alt="link para visualizar lista usuários "
    ></i>
    <i
      class="pi pi-list"
      routerLink="/product"
      alt="link para visualizar lista de produtos "
    ></i>
  </div>
</div>
