<div class="container">
  <form class="form-sign-up">
    <div class="img-perfil">
      <img
        src="../../../assets/img-perfil.svg"
        alt="click here to change your image"
      />
    </div>
    <div class="container-inputs">
      <input type="text" name="name" id="name" placeholder="Name" />
      <input type="text" name="cpf" id="cpf" placeholder="CPF" />
      <input
        type="date"
        name="data-nasc"
        id="data-nasc"
        placeholder="Data Nasc"
      />
      <input type="email" name="email" id="email" placeholder="Email" />
      <input type="tel" name="tel" id="tel" placeholder="Telephone" />
      <input type="password" name="password" id="password" placeholder="Password" />
    </div>
    <div class="button">
        <button>SIGN UP</button>
    </div>
    <div class="link-back">
      <p routerLink="/login"><i class="pi pi-angle-double-left" ></i></p>
    </div>
  </form>
</div>
