.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.form-login {
  width: 550px;
  margin-top: 60px;
  border-radius: 8px;
  background-image: linear-gradient(#ab47bc, #5c1fb1);
  box-shadow: 1px 1px 10px #ab47bc;
  color: #fff;
}

.header-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 45px;
}

.header-form > img {
  height: 90px;
  margin: 15px 0;
}
.header-form > h2 {
  font-size: 2.5rem;
}

.body-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-input {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
  gap: 15px;
}

.container-input > input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #fff;
  border-radius: 0;
  background: transparent;
  padding: 0;
}
.container-input > input::placeholder {
  color: #fff;
  font-size: 0.8rem;
}

.container-checkbox {
  margin: 25px;

  width: 60%;
  display: flex;
}

.container-checkbox > input {
  margin-left: 5px;
}

.container-checkbox > label {
  margin-left: 5px;
  font-size: 0.7rem;
}

.container-footer {
  text-align: center;
}

.container-footer,
p:nth-child(1) {
  margin: 20px;
}

.container-footer,
a {
  text-decoration: none;
  color: rgb(211, 206, 206);
}

a:hover {
  color: #ab47bc;
}

.container-footer > p:nth-child(3) {
  cursor: pointer;
}
.container-footer > p:nth-child(3):hover {
  color: #ab47bc;
}

.button {
  margin: 10px;
}

.button > button {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 5px #ab47bc;
  height: 30px;
  width: 150px;
  font-weight: 600;
  color: #5c1fb1;
  cursor: pointer;
  transition: 0.3s;
}

.button > button:hover {
  color: #fff;
  background-color: #5c1fb1;
}
