<div class="card">
  <div class="img-card">
    <img src="../../../../assets/chivas (2).svg" alt="Whisky Chivas" />
  </div>
  <div class="content-card">
    <h4>Whisky Chivas Regal 18 anos + embalagem Presenteável em Lona</h4>
    <p>Regular</p>
    <p>R$569,90</p>
  </div>
  <div class="buttons-card">
    <div class="button button-radius-left">-</div>
    <div class="button">1</div>
    <div class="button">+</div>
    <div class="button button-radius-right"><img src="../../../../assets/cart.svg" alt="icone de carrinho para comprar"></div>
  </div>
</div>
