.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 450px;
  box-shadow: 1px 1px 5px #aa47bc61;
  text-align: center;
}
