<div *ngIf="!isDashboard" class="container">
  <div class="menu-container">
    <nav class="menu">
      <img
        class="logo"
        src="../../../../assets/logoroxo.svg"
        alt="logo grupo 4"
      />
      <a class="menu_link" href="#">MASTERTIPS</a>
      <a class="menu_link" href="#">VODKA</a>
      <a class="menu_link" href="#">WHISKY</a>
      <a class="menu_link" href="#">GIM</a>
      <a class="menu_link" href="#">NÃO-ALCOÓLICOS</a>
      <a class="menu_link" href="#">KITS</a>
    </nav>
    <div class="newsletter">
      <p>Assine nossa newsletter</p>
      <img src="../../../../assets/news.svg" alt="" />
    </div>
  </div>
  <div class="lista-container">
    <div class="lista-footer">
      <ul>
        <a class="menu_link" href="#"><li>Termos e Condições</li></a>
        <a class="menu_link" href="#"><li>Política de Privacidade</li></a>
        <a class="menu_link" href="#"><li>Sobre Nós</li></a>
        <a class="menu_link" href="#"><li>Fale conosco</li></a>
      </ul>
    </div>
    <div class="pagamentos">
      <img src="../../../../assets/pagamentos.svg" alt="meios de pagamento" />
    </div>
  </div>
  <div class="aviso-container">
    <div class="aviso">
      <p>BEBA COM MODERAÇÃO, NÃO COMPARTILHE COM MENORES DE 18 ANOS!!</p>
    </div>
    <div class="contato-footer">
      <p>2022 Drinks G4 Melhor lugar para ficar doido.</p>
      <p>E-mail G4drinks@sac.com.br</p>
      <p>Telefone 21 00000-0000</p>
    </div>
  </div>
</div>
