.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.table {
  width: 90%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 1px 1px 15px #aa47bc6e;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #ab47bc;
  text-align: left;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ab47bc;
  background-color: #ab47bc;
  color: #ffff;
  font-size: 1rem;

  border-collapse: collapse;
}

.table tbody + tbody {
  border-top: 2px solid #ffff;
}

.pi {
  padding: 5px;
  font-size: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #ab47bc;
  border-radius: 50%;
  color: #ab47bc;
  cursor: pointer;
  transition: 0.3s;
}

.pi:hover {
  background-color: #6e2c9d;
  color: #fff;
  
}

@media (max-width: 644px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  @media (max-width: 360px) {
    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }
}
