<div class="container table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="header-list">ID</th>
        <th>Name</th>
        <th>CPF</th>
        <th>Birthday</th>
        <th>Email</th>
        <th>User Type</th>
        <th>Phone</th>
        <th></th>
        <th><i class="pi pi-user-plus"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of listUsers">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.cpf}}</td>
        <td>{{user.dateOfBirthday}}</td>
        <td>{{user.email}}</td>
        <td>{{user.userType}}</td>
        <td>{{user.phoneNumber}}</td>
        <td><i class="pi pi-user-edit"></i></td>
        <td ><i class="pi pi-times" (click)="deleteUserById(user.id)" ></i></td>
      </tr>
    </tbody>
  </table>
</div>
