<div class="container table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="header-list">ID</th>
        <th>Name</th>
        <th>CPF</th>
        <th>Bithday</th>
        <th>Email</th>
        <th>User Type</th>
        <th>Phone</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Carlim</td>
        <td>123.232.223-09</td>
        <td>20/01/1992</td>
        <td>carlim@mail.com</td>
        <td>Cliente</td>
        <td>21-998989998</td>
        <td><i class="pi pi-user-edit"></i></td>
        <td><i class="pi pi-times"></i></td>
      </tr>
    </tbody>
  </table>
</div>
